h2 {
    font-size: 150%;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    display: inline-block;
}
h3 {
    display: inline-block;
    border-bottom: 1px dotted #e4e9f0;
    padding-bottom: 5px;
}
.wy-side-nav-search {
    background-size: cover;
    /* background-image: url(https://i.imgur.com/0n2dd5u.jpg); */
}
.wy-side-nav-search>div.version { 
    color: rgba(255, 255, 255, 0.5); /* the version might disappear due to the background */
}
